NOTE =  ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____

OWNER_NUMBER="27657006860"
SESSION_ID = "SESSION_85_23_59_01_kjgfgfclhj"
THUMB_IMAGE = "https://drive.google.com/file/d/1OgpK4VNVilYd92u7LGizlkr4MAqa9jHE/view?usp=sharing"
OWNER_NAME = "Lindokuhle Designs"
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = "false" 
MODE = "private"
ANTILINK_VALUES = "all
          




